// out: ../css/style.min.css, sourcemap: false, compress: true

/* Variables
================================================== */
@white: #fff;
@gray: #cccc;
@black: #000;


/* General
================================================== */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    width: 100%;
    -webkit-font-smoothing: antialiased;
}
img {
    max-width: 100%;
    height: auto;
    display: block;
}

/* Button
================================================== */
.inline-cta {
    .et_pb_button_module_wrapper {
	    display: inline-block !important;
	    margin-right: 20px !important;
    }
}
.center-cta {
    text-align: center !important;
    .et_pb_button_module_wrapper {
        display: inline-block !important;
        margin: 10px !important;
    }
} 

/* List
================================================== */
.entry-content ul{
    margin-top: 10px !important;
    padding-bottom: 0 !important;
}

/* Images
================================================== */
.object-fit {
    height: 100%;
    .et_pb_image_wrap {
        height: 100%;
        img {
            object-fit: cover;
            height: 100%;
        }
    }
}
.scale-img{
    .et_pb_main_blurb_image{
        img  {  
            transition:all 0.5s; 
            -moz-transition:all 0.5s; 
            -webkit-transition:all 0.5s; 
            &:hover{
                transform:scale(1.1);
                -moz-transform: scale(1.1);
                -webkit-transform:scale(1.1);
            }
        }
        .et_pb_image_wrap{
        overflow: hidden;
        }
    }
}

/* Reverse columns
================================================== */
.reverse-columns{
    display: flex;
    flex-direction: column;
    flex-flow: column-reverse;
}

/* Slick Slider
================================================== */
.slick-slider {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}
.slick-list {
    position: relative;
    display: block;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}
.slick-track{
    display: flex !important;
}
.slick-arrow, 
.slick-arrow:hover, 
.slick-arrow:focus {
    position: absolute;
    margin-top: 0;
    transform: translateY(-50%);
    top: auto;
    bottom: -20px;
    background-color: transparent;
    font-size: 0;
    line-height: 0;
    padding: 0;
    outline: none;
    border: none;
    cursor: pointer;
    vertical-align: middle;
    z-index: 100;
    color: #000;
}
.slick-track{
    margin-left: 0 !important;
    margin-right: 0 !important;
}
.slick-prev { 
	right: 45px !important; 
}
.slick-next { 
	right: 0px !important;  
}
.slick-arrow:before {
	font-family: ETmodules;
	opacity: 1;
	font-size: 32px;
	vertical-align: middle;
	text-align: center;
}
.slick-arrow:hover:before { 
	opacity: 1; 
}
.slick-prev:before {
	content: '\23'; 
}
.slick-next:before { 
	content: '\24'; 
}

/* Scale img
================================================== */
.scale-img{
    .et_pb_main_blurb_image{
        img  {  
            transition:all 0.5s; 
            -moz-transition:all 0.5s; 
            -webkit-transition:all 0.5s; 
            &:hover{
                transform:scale(1.1);
                -moz-transform: scale(1.1);
                -webkit-transform:scale(1.1);
            }
        }
        .et_pb_image_wrap{
        overflow: hidden;
        }
    }
}

/* Accordion
================================================== */
.et_pb_accordion{
    .et_pb_toggle_open .et_pb_toggle_title::before {
        font-family: ETmodules !important;
        display: block !important;
        content: "\32"!important;
    }
} 

/* Responsive
================================================== */
@media screen and (max-width: 980px) {

}

@media screen and (max-width: 768px) {

}

@media screen and (max-width: 480px) {

}
