// out: ../css/style.min.css, sourcemap: false, compress: true

/* Variables
================================================== */
@kolsvart: #0F0F0F;
@grafit: #1A1A1A;
@skiffer: #3D3A35;  
@signalrod: #B22027;
@koppar: #C47A3A;
@stal: #7B868C;
@dimma: #A8A299;
@sandsten: #EDE8E0;
@pergament: #F5F2ED;
@paper: #FFFFFF;

/* Helpers
================================================== */
.hidden-desktop{
    display: none !important;
}

.cta a{
    display: inline-block !important;
    padding: 10px 20px !important;
    border-radius: 5px !important;
    color: @paper !important;
    background-color: @signalrod !important;
    text-decoration: none !important;
    &.black{

    }
    &.white{

    }
    &.ghost-white{
        background-color: transparent !important;
        border: 1px solid @grafit !important;
        color: @grafit !important;
    }
}


/* Menu Toogle
================================================== */
.menu-toggle{
    display: none !important;
}

/* Nav
================================================== */
.main-menu{
    .et-menu-nav{
        .sub-menu{
            border-radius: 0 0 5px 5px !important;
            margin-right: -2px !important;
            box-shadow: none !important;
            top: calc(100% - 15px) !important;
            padding: 0 0 15px 0 !important;
            li{
                padding: 0 !important;
                display: block !important;
                a{
                    width: 100% !important;
                    max-width: 100% !important;
                    padding: 10px 15px !important;
                    &:hover{
                        background-color: rgba(@grafit, 0.1) !important;
                        color: @signalrod !important;
                    }
                }
            }
        }
    }
    .et_mobile_nav_menu{
        .mobile_menu_bar{
            margin-right: 70px !important;
            background-color: @sandsten !important;
            padding: 10px 12px !important;
            border-radius: 5px !important;
            margin-top: -4px !important;
            &::before{
                top: 0 !important;
            }
        }
        .mobile_nav.opened .mobile_menu_bar:before{
            content: "\4d" !important;
        }
        .et_mobile_menu{
            margin-top: -8px !important;
            box-shadow: none !important;
            padding: 15px !important;
            li{
                padding: 0px !important;
                margin: 0px !important;
                position: relative !important;
                > a:first-child{
                    padding: 10px 0;
                    background-color: @paper;
                    font-size: 18px;
                }
                a{
                    opacity: 1 !important;
                    border-bottom: none !important;
                }
                .sub-menu{
                    border-bottom: 1px solid @sandsten !important;
                    margin-bottom: 15px !important;
                    display: none !important;
                    &.open{
                        display: block !important;
                    }
                    li{
                        a{
                            font-size: 16px !important;
                        }
                    }
                }
                &.menu-item-has-children{
                    > .menu-toggle{
                        display: block !important;
                        position: absolute !important;
                        background-color: @sandsten !important;
                        right: 0px !important;
                        top: 5px !important;
                        width: 36px !important;
                        height: 36px !important;
                        border-radius: 5px !important;
                        background-image: url('../img/icon/plus.svg') !important;
                        background-repeat: no-repeat !important;
                        background-position: center !important;
                        cursor: pointer !important;
                        &.active{
                            background-image: url('../img/icon/minus.svg') !important;
                        }
                    }
                }
                &.cta{
                    text-align: center !important;
                }
            }
        }
    }
}

.lang-switcher{
    .et-menu{
        margin: 0 !important;
    }
    .menu-item-has-children{
        padding: 0px !important;
        margin: 0px !important;
        > a:first-child{
            padding: 13px 16px !important;
            img, span{
                display: none !important;
            }
            &::after{
                position: relative !important;
                content: "";
                display: inline-block;
                width: 24px;
                height: 24px;
                background-image: url('../img/icon/globalt.svg');
            }
        }
        .sub-menu{
            padding: 15px 0 !important;
            border-radius: 5px 0 5px 5px !important;
            margin-right: -2px !important;
            box-shadow: none !important;
            li{
                display: block !important;
                padding: 0 !important;
                a{
                    padding: 10px 15px !important;
                    width: 100% !important;
                    span{
                        font-size: 14px !important;
                        margin-left: 10px !important;
                    }
                }
                &:hover{
                    background-color: rgba(@grafit, 0.1) !important;
                }
            }
        }
    }
}

/* List
================================================== */
.entry-content ul{
    margin-top: 10px !important;
    padding-bottom: 0 !important;
}

/* Images
================================================== */
.object-fit {
    height: 100%;
    .et_pb_image_wrap {
        height: 100%;
        img {
            object-fit: cover;
            height: 100%;
        }
    }
}
.scale-img{
    .et_pb_main_blurb_image{
        img  {  
            transition:all 0.5s; 
            -moz-transition:all 0.5s; 
            -webkit-transition:all 0.5s; 
            &:hover{
                transform:scale(1.1);
                -moz-transform: scale(1.1);
                -webkit-transform:scale(1.1);
            }
        }
        .et_pb_image_wrap{
        overflow: hidden;
        }
    }
}

/* Slick Slider
================================================== */
.slick-slider {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}
.slick-list {
    position: relative;
    display: block;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}
.slick-track{
    display: flex !important;
}
.slick-arrow, 
.slick-arrow:hover, 
.slick-arrow:focus {
    position: absolute;
    margin-top: 0;
    transform: translateY(-50%);
    top: auto;
    bottom: -20px;
    background-color: transparent;
    font-size: 0;
    line-height: 0;
    padding: 0;
    outline: none;
    border: none;
    cursor: pointer;
    vertical-align: middle;
    z-index: 100;
    color: #000;
}
.slick-track{
    margin-left: 0 !important;
    margin-right: 0 !important;
}
.slick-prev { 
	right: 45px !important; 
}
.slick-next { 
	right: 0px !important;  
}
.slick-arrow:before {
	font-family: ETmodules;
	opacity: 1;
	font-size: 32px;
	vertical-align: middle;
	text-align: center;
}
.slick-arrow:hover:before { 
	opacity: 1; 
}
.slick-prev:before {
	content: '\23'; 
}
.slick-next:before { 
	content: '\24'; 
}

/* Scale img
================================================== */
.scale-img{
    .et_pb_main_blurb_image{
        img  {  
            transition:all 0.5s; 
            -moz-transition:all 0.5s; 
            -webkit-transition:all 0.5s; 
            &:hover{
                transform:scale(1.1);
                -moz-transform: scale(1.1);
                -webkit-transform:scale(1.1);
            }
        }
        .et_pb_image_wrap{
        overflow: hidden;
        }
    }
}

/* Accordion
================================================== */
.et_pb_accordion{
    .et_pb_toggle_open .et_pb_toggle_title::before {
        font-family: ETmodules !important;
        display: block !important;
        content: "\32"!important;
    }
} 

/* Responsive
================================================== */
@media screen and (max-width: 980px) {
    
    /* Helpers
    ================================================== */
    .hidden-desktop{
        display: block !important;
    }

    /* Nav
    ================================================== */
    .main-menu{
        .et_pb_menu__logo{
            margin-left: 10px !important;
            img{
                z-index: 10000 !important;
            }
        }
    }
    .lang-switcher { 
        margin-right: 10px !important;
        .et_pb_menu__menu{
            display: block !important;
        }
        .et_mobile_nav_menu{
            display: none !important;
        }
    }

}

@media screen and (max-width: 768px) {

}

@media screen and (max-width: 480px) {

}
