// out: ../css/style.min.css, sourcemap: false, compress: true

/* Variables
================================================== */


/* General
================================================== */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    width: 100%;
    -webkit-font-smoothing: antialiased;
}
img {
    max-width: 100%;
    height: auto;
    display: block;
}

/* Element
================================================== */


/* Responsive
================================================== */
@media screen and (max-width: 980px) {

}

@media screen and (max-width: 768px) {

}

@media screen and (max-width: 480px) {

}
